@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
:root {
  --color1: #0b121e;
  --color2: #111d33;
  --color3: rgb(210, 48, 48);
  --color4: #6c83ad;
}
body {
  margin: 0;
  font-family: "Karla", sans-serif;
}
.navbar {
  position: fixed;
  background-color: var(--color2);
  width: 100vw;
  height: 9vh;
  display: flex;
  align-items: center;
  gap: 17vw;
  z-index: 2;
}
.navbar-icon {
  color: var(--color4);
  font-size: 1.5rem;
}
.clapperboard {
  color: var(--color3);
  margin-left: 1rem;
  font-size: 2rem;
}
.navbar-sections {
  display: flex;
  gap: 1.5rem;
}
.main,
.movies,
.tvSeries {
  background-color: var(--color1);
  height: 100vh;
  padding: 10vh 3vh 2vh 3vh;
  color: white;
  height: 400vh;
}
.main-icon,
.movies-icon,
.tvSeries-icon {
  color: white;
  font-size: 1.2rem;
}
.main-input,
.movies-input,
.tvSeries-input {
  width: 75vw;
  height: 7vh;
  border: none transparent;
  outline: none;
  background-color: var(--color1);
  color: white;
  margin-left: 0.7rem;
  font-size: 1.4rem;
}

.main-input::placeholder,
.movies-input::placeholder .tvSeries-input::placeholder {
  color: rgb(137, 136, 136);
  font-size: 1.2rem;
}

.main-TrendingDiv,
.movies-TrendingDiv,
.tvSeries-TrendingDiv {
  display: flex;
  flex-wrap: wrap;
  color: white;
  gap: 8.8vw;
  margin-left: 3.1vw;
}
.main-poster,
.movies-poster,
.tvSeries-poster {
  width: 9rem;
  height: 13rem;
  border-radius: 13px;
}
.main-poster-div,
.movies-poster-div,
.tvSeries-poster-div {
  margin-bottom: 1rem;
  width: 9rem;
  position: relative;
}

.bookmarkDiv {
  position: absolute;
  left: 74%;
  margin-top: 0.6rem;
  background-color: rgba(130, 129, 129, 0.7);
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
